.container {
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  @media (min-width: @tablet-width) {
    width: 710px;
  }

  @media (min-width: @desktop-width) {
    width: 1500px;
  }

  @media (min-width: @other-width) {
    width: 1920px;;
  }
}
