.footer {
  background-color: @black;
  color: @white;
}

.footer__wrap {
  padding: 20px 10px;

  @media (min-width: @other-width) {
    padding: 20px 210px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50% 31%;
  }
}

.footer__wrap img {

  @media (min-width: @other-width) {
    margin-top: 50px;
  }
}

.footer__user-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @other-width) {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

.footer__login {
  color: inherit;
  display: block;
  border: 1px solid @white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 5px;
  margin: 20px 0;

  @media (min-width: @tablet-width) {
    padding: 10px 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 75px;
    font-size: 22px;
  }

  @media (min-width: @other-width) {
    margin: 0;
    margin-top: 10px;
  }
}

.footer__links {
  .list-clean();
  border-top: 2px solid rgba(230, 230, 230, 0.5);
  padding-top: 30px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  columns: 3;

  @media (min-width: @other-width) {
    grid-column-start: 3;
    grid-column-end: 6;
    margin-left: 20px;
  }
}

.footer__links a {
  text-decoration: none;
  color: inherit;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;

  @media (min-width: @desktop-width) {
    width: 100%;
  }

  @media (min-width: @other-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 0;
  }
}
