.social-list {
  .list-clean();
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.social-list p {
  font-size: 24px;
  line-height: 30px;
}

.social-list__link {
  display: block;
}
